DEBUG=True
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgres://user:password@127.0.0.1:5432/dbname
ALLOWED_HOST=127.0.0.1,localhost

# These are only required for the production settings (settings_azure.py)
CSRF_TRUSTED_ORIGINS=https://your-wix-site.com
CORS_ALLOWED_ORIGINS=https://your-wix-site.com