DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here
POSTGRES_DATABASE=your-database
POSTGRES_USER=your-user
POSTGRES_PASSWORD=your-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ALLOWED_HOST=127.0.0.1,localhost

# These are only required for the production settings (settings_azure.py)
CSRF_TRUSTED_ORIGINS=https://your-wix-site.com
CORS_ALLOWED_ORIGINS=https://your-wix-site.com