{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">ASA Adopt-A-Tree Admin Portal</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

<!-- Removes the View Site section of the admin panel since we are not using it.-->
{% block userlinks %}
    {{ block.super|cut:"View site" }}
{% endblock %}

{% block nav-global %}{% endblock %}
